{% extends 'layout.html' %}

{% block content %}
    {% if err %}
    <section class="container">
        <div class="alert-danger">
            {{ err.message }}
        </div>
    </section>
    <hr/>
    {% endif %}
    <form class="form-horizontal" method="POST" action="/products/{{ product.id }}?_method=put">
        {% include  '_formProduct.html' %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </form>
{% endblock %}